<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstonproject1">
    <!-- GPS 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 블루투스 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!--
 Needed only if your app makes the device discoverable to Bluetooth
         devices.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!--
 Needed only if your app communicates with already-paired Bluetooth
         devices.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstonProject1"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".TagSearchAddActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyALsPR3hZFnD0TPumq4jCj4zQgLsk1q5KY" />
        <activity
            android:name=".SharedTagActivity"
            android:exported="false" />
        <activity
            android:name=".FriendAcceptActivity"
            android:exported="false" />
        <activity
            android:name=".TagActivity"
            android:exported="false" />
        <activity
            android:name=".SearchPersonActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePWActivity"
            android:exported="false" />
        <activity
            android:name=".ShareActivity"
            android:exported="false" />
        <activity
            android:name=".PersonAddActivity"
            android:exported="false" />
        <activity
            android:name=".PersonMangementActivity"
            android:exported="false" />
        <activity
            android:name=".TagListActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalTagActivity"
            android:exported="false" />
        <activity
            android:name=".PwSearchActivity"
            android:exported="false" />
        <activity
            android:name=".IdSearchActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".MainScreenActivity"
            android:exported="false"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/Theme.CapstonProject1.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>